<div id="orders_chart"></div>

<%= javascript_tag defer: 'defer' do -%>
  $(function() {
    new Highcharts.StockChart({
      chart: { 
        renderTo: 'orders_chart',
      },
      
      title: { text: 'Income' },

      xAxis: { 
        dateTimeLabelFormats: {
          month: '%b \'%Y'
        },
        ordinal: false
      },
          
      yAxis: {
        title: { text: 'Amount' },
        labels: {
          format: '{value} $'
        }
      },

      navigator: {
        xAxis: {
          dateTimeLabelFormats: {
              month: '%b \'%Y'
            }
        }
      },
      
      series: [{
        name: 'Income',
        data: <%=raw @income.to_a.to_json %>
      }, 

      {
        name: 'Sum',
        data: <%=raw @income.to_a.to_json %>,
        stickyTracking: false,
        dataGrouping: {
          approximation: "sum",
          enabled: true,
          forced: true,
          units: [
            [
              'month', [1]]
            ]
        }
      }]
    });
  });
<% end -%>
