<div id="orders_chart" style="width: 100%;"></div>

<%= javascript_include_tag "http://www.google.com/jsapi" %>
<%= javascript_tag defer: 'defer' do -%>

  google.load('visualization', '1.1', {'packages': ['annotationchart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var table = new google.visualization.DataTable();
    table.addColumn('date', 'Date');
    table.addColumn('number', 'Amount');
    table.addColumn('number', 'Sum');
    table.addRows([
      <% @income.to_a.map do |date, amount| %>
          [new Date('<%= date %>'), <%= amount %>, null],
      <% end %>
    ]);

    var chart = new google.visualization.AnnotationChart(document.getElementById('orders_chart'));
    chart.draw(table);
  }
<% end -%>
