<div id="orders_chart"></div>

<%= javascript_tag defer: 'defer' do -%>
  $(function() {
    new Highcharts.Chart({
      chart: { renderTo: 'orders_chart' },
      title: { text: 'Income' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Amount' }
      },
      series: [{
        name: 'Income',
        pointInterval: <%=raw (1.day * 1000).to_json %>,
        data: <%=raw @income.to_a.to_json %>
      }]
    });
  });
<% end -%>
