/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require twitter/typeahead
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap
 *= require datepicker
 *= require_tree .
 */

.spacer {
	clear: both;
}

.hidden {
	display: none;
}

.expired_date {
	color: #ff1919;
}

.to_be_expired_date {
	color: #af7809;
}

.deactivated_date {
	color: #009999;
}

.expired_row {
	background-color: #FF8B73 ! important;
}

.to_be_expired_row {
	background-color: #FFDB73 ! important;
}

.deactivated_row {
	background-color: #64AAD0 ! important;
}

a.accordion-toggle {
	font-size: 18px;
}

table.dataTable thead th {
	font-size: 85%;
	border-bottom: none;
}

.allow {
	color: #22ee22;
}

.deny {
	color: #ee2222;
}
